<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Mengimpor Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />

    <script src="https://cdn.tailwindcss.com"></script>
    <title>aes-128</title>
  </head>
  <body class="font-[Montserrat] bg-slate-200">
    <section class="flex justify-center items-center min-h-screen">
      <div class="flex gap-5">
        <a href="{{ url_for('login') }}"
          ><button
            class="bg-slate-500 py-4 px-3 rounded-lg text-white hover:bg-slate-500/60 transition duration-300"
          >
            Login
          </button></a
        >
        <a href="{{ url_for('register') }}"
          ><button
            class="bg-slate-500 py-4 px-3 rounded-lg text-white hover:bg-slate-500/60 transition duration-300"
          >
            Sign up
          </button></a
        >
      </div>
    </section>
  </body>
</html>
